<ng-container *ngIf="sensor">
	<div class="sensor-container sensor-tag--{{sensor.tag}}">
		<span class="sensor-tag badge">{{sensor.tag}}</span>
		<i class="sensor-icon fa fa-wifi fa-5x" aria-hidden="true"></i>️

		<h4 class="sensor-title">{{sensor.title}}</h4>
		<button [routerLink]="['/chart', sensor.id]" style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 10px;"
			type="button" class="btn btn-light"><i class="fa fa-bar-chart"></i> Chart</button>
		<button style="width: 70%; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 10px;"
			type="button" class="btn btn-light"><i class="fa fa-bell-o"></i> Alerts</button>

	</div>
	<span class="sensor-description">{{sensor.description}}</span>
</ng-container>